  ::-webkit-scrollbar-track {
    background: transparent !important;
  }

  ::-webkit-scrollbar-thumb {
    background: #d17842 !important;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #d17842 !important;
  }

 #container{
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0) 40%),
      url("../resources/images/header-hero.png") no-repeat right top,
      linear-gradient(to bottom, black 83%, #111827 27%); 
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 60%;
  }

  #mobile-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  
  #mobile-menu.open {
    max-height: 300px;
  }
  
  #mobile-menu a:hover {
    transform: translateX(3px);
    transition: transform 0.2s, color 0.2s;
  }